@import "@/styles/index.css";

.menu {
  background-color: #e0e6ea80;
  border-radius: 10px;
  box-shadow: 0 0 3px var(--color-grey);
}

.menu-button {
  background-color: #e0e6ea80;
  border-width: 1;
  border-radius: 10px;
  box-shadow: 0 0 3px var(--color-grey);
}

.menu-button-active {
  background-color: #e0e6ea80;
  border-width: 1;
  border-radius: 10px;
  box-shadow: 0 0 3px var(--color-grey);
}

.multi-select {
  font-size: var(--font-size-regular);
  background-color: #e0e6ea80;
  background-image: url("@/assets/select-dropdown.svg");
  background-repeat: no-repeat;
  background-position: right center;
  width: 100%;
  height: 5rem;
  border-radius: 10px;
  box-shadow: 0 0 3px var(--color-grey);
  text-align: left;
  padding-left: 20px;
}

.error-container {
  display: block;
  margin-left: 20px;
  margin-top: 5px;
}
