.linkButton {
  color: var(--color-blue-dark);
}
.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}
.linkLogo {
  margin: 10px 20px 40px 20px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.linkLogo:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
