.linkButton {
  color: var(--color-blue-dark);
  width: inherit;
}
.inputContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
