:root {
  --color-blue-dark: #0066CC;
  --color-blue-light: #267CD3;
  --color-yellow: #FAC20B;
  --color-white: #F1F8FC;
  --color-grey: #8B8D90;

  --font-size-heading: 24pt;
  --font-size-subheading: 16pt;
  --font-size-regular: 14pt;
  --font-size-small: 12pt;

  /* React Toastify Overriden Styles */
  --toastify-color-warning: linear-gradient(180.71deg, #FAC20B 0.61%, #EE7222 99.39%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Error Styles */
.label-error {
  color: red;
}

.input-error {
  border-color: red;
}
