:root {
  --color-blue-dark: #0066cc;
  --color-blue-light: #267cd3;
  --color-yellow: #fac20b;
  --color-white: #f1f8fc;
  --color-grey: #8b8d90;

  --font-size-heading: 24pt;
  --font-size-subheading: 16pt;
  --font-size-regular: 14pt;
  --font-size-small: 12pt;

  --button-background: linear-gradient(
    180.71deg,
    #fac20b 0.61%,
    #ee7222 99.39%
  );

  /* React Toastify Overriden Styles */
  --toastify-color-warning: linear-gradient(
    180.71deg,
    #fac20b 0.61%,
    #ee7222 99.39%
  );
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Error Styles */
.label-error {
  color: red;
}

.input-error {
  border-color: red;
}

.error {
  font-size: var(--font-size-small);
  color: red;
}
