.button {
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-white);
    width: 200px;
    height: 65px;
    background: linear-gradient(180.71deg, #FAC20B 0.61%, #EE7222 99.39%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    float: right;
  }