/* Creating Student Form Component */
.form-container {
  max-width: 2000px;
}

.form-input {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  justify-content: space-evenly;
}

.form-input div {
  margin-bottom: 2.5rem;
}

.button-container {
  margin-right: 2rem;
}

.inputContainer {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  column-gap: 40px;
  row-gap: 40px;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Search Input Styles Component*/
.input-search {
  font-size: var(--font-size-regular);
  background-color: var(--color-white);
  background-image: url("../../../assets/search-icon.svg");
  background-repeat: no-repeat;
  background-position: top 5px left 20px;
  border: 1px solid rgba(139, 141, 144, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 0 20px 0 70px;
  height: 60px;
  width: 25rem;
}

.input-search:focus {
  outline: none;
}
.photoContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 30px;
}

.profileHeader {
  color: var(--color-blue-dark);
  font-size: var(--font-size-heading);
  font-weight: bold;
  text-align: left;
}
h1 #editbutton {
  position: absolute;
  right: 0;
}
.avatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonImg {
  cursor: pointer;
  width: 62px;
  border-radius: 30px;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.line {
  display: flex;
  flex-direction: row;
  color: var(--color-blue-dark);
  font-size: var(--font-size-heading);
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

#personal-info:before {
  content: "";
  display: inline-block;
  width: 40rem;
  height: 3px;
  background: -webkit-linear-gradient(135deg, #fac20b 20%, #0066cc);
  margin-right: auto;
  margin-left: 30px;
}
#personal-info:after {
  content: "";
  display: inline-block;
  width: 40rem;
  height: 3px;
  background: -webkit-linear-gradient(135deg, #0066cc, #fac20b 80%);
  margin-left: auto;
  margin-right: 30px;
}
#changePassword:before {
  content: "";
  display: inline-block;
  width: 41.7rem;
  height: 3px;
  background: -webkit-linear-gradient(135deg, #fac20b 20%, #0066cc);
  margin-right: auto;
  margin-left: 30px;
}
#changePassword:after {
  content: "";
  display: inline-block;
  width: 41.7rem;
  height: 3px;
  background: -webkit-linear-gradient(135deg, #0066cc, #fac20b 80%);
  margin-left: auto;
  margin-right: 30px;
}
#academicInfo:before {
  content: "";
  display: inline-block;
  width: 39.5rem;
  height: 3px;
  background: -webkit-linear-gradient(135deg, #fac20b 20%, #0066cc);
  margin-right: auto;
  margin-left: 30px;
}
#academicInfo:after {
  content: "";
  display: inline-block;
  width: 39.5rem;
  height: 3px;
  background: -webkit-linear-gradient(135deg, #0066cc, #fac20b 80%);
  margin-left: auto;
  margin-right: 30px;
}

.avatarContainerModal {
  display: flex;
  flex-direction: column;
}
.icon {
  width: 100px;
  height: 100px;
  margin: 0.5em;
  display: flex;
}
.icon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1420px) {
  #personal-info:before {
    width: 24.3rem;
  }
  #personal-info:after {
    width: 24.3rem;
  }
  #changePassword:before {
    width: 26rem;
  }
  #changePassword:after {
    width: 26rem;
  }
  #academicInfo:before {
    width: 23.8rem;
  }
  #academicInfo:after {
    width: 23.8rem;
  }
}

@media only screen and (max-width: 1200px) {
  .inputContainer {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    column-gap: 20px;
    row-gap: 40px;
    justify-content: space-evenly;
  }
  .form-input {
    justify-content: space-between;
  }
}
