.container {
  height: 325vh;
  padding: 20px;
  background-color: var(--color-white);
}

.containerForm {
  width: 100%;
  height: 170rem;
  border-radius: 30px;
  background-color: white;
}
.profileHeader {
  color: var(--color-blue-dark);
}

button {
  margin: 30px;
  width: 100px;
}
