.container {
  height: auto;
  padding: 20px;
  background-color: var(--color-white);
}

.containerForm {
  width: 100%;
  height: 215rem;
  border-radius: 30px;
  background-color: white;
}
.profileHeader {
  color: var(--color-blue-dark);
}

button {
  margin: 30px;
  width: 100px;
}

/* @media only screen and (max-width: 1135px) {
  .containerForm {
    height: 96rem;
  }
} */
