.container {
  height: 200vh;
  padding: 20px;
  background-color: var(--color-white);
}

.containerForm {
  width: 100%;
  height: 90rem;
  border-radius: 30px;
  background-color: white;
}
.profileHeader {
  color: var(--color-blue-dark);
}

button {
  margin: 30px;
  width: 100px;
}
