@import "@/styles/index.css";

.assessment-container {
  background-color: var(--color-white);
  padding: 30px;
  padding-right: 50px;
  padding-left: 50px;
  max-width: 100%;
}

.assessment-information-container {
  text-align: center;
  background-color: white;
  height: 11rem;
  border-radius: 30px;
  box-shadow: 0 0 3px var(--color-grey);
}

.assessment-title {
  font-weight: bold;
  font-size: var(--font-size-heading);
}

.assessment-description-container {
  background-color: var(--color-white);
  border: 2px dashed var(--color-blue-dark);
  border-radius: 20px;
  font-size: var(--font-size-small);
  font-weight: bold;
  text-align: left;
  height: 6rem;
  padding: 10px;
  margin: 15px;
}

.assessment-description {
  margin-left: 20px;
  font-weight: normal;
}

/*End To be Deleted Section*/

.question-container {
  text-align: center;
  background-color: white;
  height: 10rem;
  border-radius: 30px;
  box-shadow: 0 0 3px var(--color-grey);
  margin-top: 20px;
}

.question-header {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  padding-bottom: 0;
}

.number-container {
  font-size: var(--font-size-heading);
  font-weight: bold;
  color: white;
  background-color: var(--color-blue-dark);
  border-radius: 15px;
  min-width: 50px;
  min-height: 50px;
}

.question {
  font-size: var(--font-size-regular);
  font-weight: bold;
  padding-left: 10px;
}

.answer {
  padding-left: 5rem;
  padding-right: 2rem;
}

/*End To be Deleted Section*/

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
