.divider {
    display: flex;

    flex-direction: row;
  
    color: var(--color-blue-dark);
  
    font-size: var(--font-size-heading);
  
    font-weight: bold;
  
    justify-content: center;
  
    align-items: center;
  }
  
  /* To show the lines on right 
  and left sides of the text */
  .divider::after {
    content: "";

  display: inline-block;

  width: 41.7rem;

  height: 3px;

  background: -webkit-linear-gradient(135deg, #fac20b 20%, #0066cc);

  margin-right: auto;

  margin-left: 30px;
  }
  
  .divider::before {
    content: "";

  display: inline-block;

  width: 41.7rem;

  height: 3px;

  background: -webkit-linear-gradient(135deg, #0066cc, #fac20b 80%);

  margin-left: auto;

  margin-right: 30px;
  }
  
  /* Space on left and right sides of text */
  .divider:not(:empty)::before {
    margin-right: 0.25em;
  }
  
  .divider:not(:empty)::after {
    margin-left: 0.25em;
  }