
.container {
  min-height: 100vh;
  background-image: url('../../../assets/signup-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 4rem;
}

.header-container {

}

.heading {
  color: var(--color-blue-dark);
  font-size: var(--font-size-heading);
  padding-bottom: 0.5rem;
}

.sub-heading {
  font-size: var(--font-size-subheading);
}

.navigation-link {
  color: var(--color-blue-dark);
  text-decoration: none;
}

/* Creating Student Form Component */
.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
  padding-top: 2rem;
}

.form-container div {
  
}

