.label {
  display: block;
  text-align: left;
  font-size: var(--font-size-regular);
  font-weight: bold;
  color: #5c5d60;
  padding-bottom: 0.25rem;
  margin-left: 20px;
}

.blue-font {
  color: var(--color-blue-dark);
}

.input::-webkit-scrollbar {
  width: 16px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.05);
}

.input::-webkit-scrollbar-thumb {
  background-color: var(--color-blue-dark);
  border-radius: 20px;
  height: 40px;
}

.input {
  font-size: var(--font-size-regular);
  background-color: var(--color-white);
  border: 1px solid rgba(139, 141, 144, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 0 20px;
  min-height: 255px;
  width: 19rem;
  resize: none;
  transition: width 0.4s;
  box-sizing: border-box;
  padding: 1em;
}

.input-img {
  background-position: top 0px left 20px;
  background-repeat: no-repeat;
  padding-left: 83px;
}

.input:focus {
  outline: none;
}

.error-container {
  display: block;
  margin-left: 20px;
  margin-top: 5px;
}

.input-count {
  text-align: right;
  color: var(--color-blue-dark);
}

@media only screen and (max-width: 1135px) {
  .input {
    width: 16rem;
  }
}
