.form-input {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.error {
  font-size: var(--font-size-regular);
  color: red;
  margin-top: 5px;
  margin-left: 1.5rem;
}

.button-container {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
