.record-container {
  text-align: center;
  background-color: white;
  min-height: 11rem;
  border-radius: 30px;
  box-shadow: 0 0 3px var(--color-grey);
  padding-bottom: 0.25rem;
  padding-top: 2rem;
}

.record-title {
  color: var(--color-blue-dark);
  font-weight: bold;
  font-size: var(--font-size-heading);
  margin-bottom: 2.5rem;
}

.record-description-container {
  display: flex;
  align-items: center;
  background-color: #d9e4ea;
  border-radius: 20px;
  font-size: var(--font-size-small);
  text-align: left;
  min-height: 6rem;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0px 3rem 2.5rem 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.record-description {
  margin-left: 20px;
  font-weight: normal;
}

.listItems {
  padding: 0.2rem 2rem;
}

.line {
  display: flex;
  flex-direction: row;
  color: var(--color-blue-dark);
  font-size: var(--font-size-heading);
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.line:before {
  content: "";
  display: inline-block;
  width: 37%;
  height: 3px;
  background: -webkit-linear-gradient(135deg, #fac20b 20%, #0066cc);
  margin-right: auto;
  margin-left: 30px;
}
.line:after {
  content: "";
  display: inline-block;
  width: 37%;
  height: 3px;
  background: -webkit-linear-gradient(135deg, #0066cc, #fac20b 80%);
  margin-left: auto;
  margin-right: 30px;
}

/* .line-content {
  display: block;
  margin-left: 2rem;
  margin-right: 2rem;
} */
