@import "@/styles/index.css";

.nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  box-shadow: 0 3px 5px var(--color-grey);
}

.pathways-logo {
  padding: 3px;
  width: 150px;
  min-width: 150px;
  transition: margin 0.5s;
}

.logo-link {
  width: 50px;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
  margin-right: 1.5rem;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: var(--font-size-regular);
  text-align: center;
  color: var(--color-grey);
  text-decoration: none;
  width: 12rem;
  height: 2.5rem;
  border-radius: 20px;
  background-color: var(--color-white);
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0 2px 2px var(--color-grey);
  margin-right: 1.5rem;
  transition: all 0.2s, box-shadow 1ms, color 1ms;
}

.active-nav-link {
  font-size: 20px;
  text-align: center;
  color: var(--color-blue-dark);
  text-decoration: none;
  width: 12rem;
  height: 2.5rem;
  border-radius: 20px;
  background-color: var(--color-white);
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 1.5rem;
  box-shadow: 0 3px 2px var(--color-blue-dark);
  transition: all 0.2s, box-shadow 1ms, color 1ms;
}

@media only screen and (max-width: 1300px) {
  .pathways-logo {
    width: 120px;
    min-width: 120px;
  }

  .nav-link {
    font-size: var(--font-size-small);
    width: 8rem;
    padding: 5px 10px;
  }

  .active-nav-link {
    font-size: var(--font-size-small);
    width: 8rem;
    padding: 5px 10px;
  }

  .logo-link {
    width: 35px;
    min-width: 35px;
    min-height: 35px;
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .pathways-logo {
    display: none;
  }
}
