.input {
  font-size: var(--font-size-regular);
  background-color: var(--color-white);
  border: 1px solid rgba(139, 141, 144, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 0 20px;
  height: 60px;
  max-width: 500px;
  width: 30rem;
  margin-top: 2rem;

  transition: width 0.4s ease-in-out;
}

.input:focus {
  outline: none;
}

.input.input[type="text"] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 83px;
  background-image: url("../../../assets/mail-icon.svg");
  background-position: top 0px left 20px;
  background-repeat: no-repeat;
}

.input.input[type="password"] {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 83px;
  background-image: url("../../../assets/secure-icon.svg");
  background-position: top 0px left 20px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1135px) {
  .input {
    width: 22rem;
  }
}
