.assessment-container {
  max-width: 1300px;
  margin: auto;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  padding: 3rem 4rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 7rem;
  height: 3rem;
  padding: 1rem;
  font-size: var(--font-size--regular);
  margin-right: 1rem;
}

.assessments-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 250px));
  gap: 2rem;
  padding: 3rem;
  padding-top: 0;
}

@media screen and (max-width: 1200px) {
  .assessments-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
