@import "@/styles/index.css";

.container {
  background-color: var(--color-white);
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 4rem;
}

.button {
  font-size: 15px;
  width: 8rem;
  padding: 15px 5px;
  gap: 1rem;
}

.assessments-container {
  padding: 10vh 5vw;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.assessment {
  height: 30vh;
  width: 15vw;
}
