@import "@/styles/index.css";

.container {
  height: 100%;
  width: 100%;
  background-color: var(--color-white);
  background-size: cover;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  padding: 3rem 4rem;
}

.button {
  font-size: 15px;
  width: 8rem;
  padding: 15px 5px;
  gap: 1rem;
}

.assessments-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 250px));
  gap: 2rem;
  padding: 3rem;
  padding-top: 0;
}

@media screen and (max-width: 1200px) {
  .assessments-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
