.checkmark-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.message {
    color: var(--color-blue-dark);
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.header-message {
    color: var(--color-blue-dark);
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 34px;
    text-align: center;
    vertical-align: middle;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0 3rem 0;
}

.btn {
    cursor: pointer;
    font-size: var(--font-size-heading);
    font-weight: bold;
    color: var(--color-white);
    width: 230px;
    height: 81px;
    background: linear-gradient(180.71deg, #FAC20B 0.61%, #EE7222 99.39%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    float: right;
}