.container {
  height: auto;
  padding: 20px;
  background-color: var(--color-white);
}

.containerForm {
  width: 100%;
  height: 95rem;
  border-radius: 30px;
  background-color: white;
}
.profileHeader {
  color: var(--color-blue-dark);
}

@media only screen and (max-width: 1135px) {
  .containerForm {
    height: 96rem;
  }
}

@media only screen and (max-width: 950px) {
  .containerForm {
    width: 100%;
    height: 122rem;
    border-radius: 30px;
    background-color: white;
  }
}
